################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PromotionsApp.UnitTest/bin/Debug/netcoreapp3.1
